body {
    color: black;
    text-align: center;
    background-color: #ede5e2;
    margin: 0 auto;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .form-inline{
    margin: 0px auto !important;
  }

  img {
    border-radius: 50px;
  }
  
  .jumbotron{
    background-image: url("../images/navbar.jpg");
    background-size: cover;
    font-family: 'Noto Serif', serif;
    color: wheat;
  }

  